h1 {
    text-align: center;
    background-color: black;
    color: white;

}

div {
    background-color: antiquewhite;

}

img {
    max-height: 200px;
    max-width:  200px;
    height: 200px;
    width: 200px;
}

